.imgBrowse {
  maxWidth: 100%;
  margin: auto;
}
.cardBrowse {
  margin: auto;
  border: 1px #000 solid;
  float: left;
  padding: 10px;
  display: flex;
  justify-content: 'space-around';
}
.singleBrowse {
  flexBasis: 20%;
  margin: 10px;
  border: 1px #000 solid;
  padding: 5px;
}
