/*
ALL GENERAL STYLING RULES FOR SPA ARE IN THIS FILE
COMPONENT LEVEL STYLING ALL OCCURS IN THE /STYLE FOLDER

                ----------------------------------
                COLORS
                   light grey: #eee;
                   grey: #b6b6b6;
                   dark grey: #999999;;
                   green: #C4D425;
                ----------------------------------
*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat);
html {
  background-color: black;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  background-color: white;
  color: black;
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

h1 { /* heading of header */
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2.75;
}

h3 { /* for Item.js title of header */
  padding: 2rem 0 .5rem 1rem;
  font-size: 2rem;
  font-family: 'EB Garamond', serif;
  color: black;
  font-style: italic;
}
h4 { /* subheading of header */
  font-size: 1.25rem;
  font-family: 'EB Garamond', serif;
  margin-bottom: 0;
  font-style: italic;
}
h5 { /* for Item.js collection.name subheading |  | */
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.25;
}
h6 { /* for Item.js collection.name subheading |  | */
  font-size: 1.35rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  max-width: 250px;
  color: #000;
}

a {
  color: #fff;
}
a:hover {
  color: #C4D425;
}
a:visited {
  color: #eee;
  text-decoration: none;
}
.mtdt {
  background-color: #eeeeee;
  padding: .5rem;
}
.mtdt-category {
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
}
.paragraph {
  font-family: 'EB Garamond', serif;
  background-color: #eeeeee;
  width: 100%;
  height: 40rem;
  overflow: scroll;
  font-size: 1.35rem;
  line-height: 2;
  padding: 2rem;
}
.tag {
  padding: .5rem;
  text-align: center;
}
.tag-browse {
  padding: .5rem;
  text-align: center;
  font-size: 2rem;
}


.nav {
  background-color: #999999;
  color: #fff;
  margin: 0;
  list-style: none;
}
.navbar {
  background-color: #999999;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  width: 100%;
  justify-content: space-around;
  border-radius: 2rem 2rem 0 0; 
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
}
.square {
  margin: auto;
  padding: 4px;
  max-width: 95%;
}
.grid {
  display: grid;
  grid-template-columns: 4.5fr 5.5fr;
  grid-column-gap: 1rem;
}
.single-item {
  margin: auto;
  max-width: 95%;
  display: block;
}

