/*
ALL GENERAL STYLING RULES FOR SPA ARE IN THIS FILE
COMPONENT LEVEL STYLING ALL OCCURS IN THE /STYLE FOLDER

                ----------------------------------
                COLORS
                   light grey: #eee;
                   grey: #b6b6b6;
                   dark grey: #999999;;
                   green: #C4D425;
                ----------------------------------
*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  color: black;
}
table td, th {
  border-left:10px solid #fff;
  border-bottom:10px solid #fff;
  padding: 10px;
  width: 100;
}
td, th {
  background-color: #e6e6e6;
}
th {
  width: 30%;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}
/* for subheading of header */
h3 {
  padding: 2rem 0 .5rem 1rem;
  font-size: 2rem;
  font-family: 'EB Garamond', serif;
  color: black;
  font-style: italic;
}
h4 {
  font-size: 1.25rem;
  font-family: 'EB Garamond', serif;
  margin-bottom: 0;
  font-style: italic;
}
h5 {
  padding: 0 0 2rem 2rem;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}
a {
  color: #C4D425;
}
a:hover {
  color: #e6e6e6;
}
a:visited {
  color: #e6e6e6;
  text-decoration: none;
}
.mtdt {
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
}

.nav {
  background-color: #999999;
  color: #fff;
  margin: 0;
  list-style: none;
}
.card-browse {
  margin: auto;
  border: 1px #000 solid;
  float: left;
  display: flex;
  justify-content: 'space-around';
  height: 300px;
}
.container {
  overflow: scroll;
  padding: 2rem 0 2rem 0;
}